/*Reset CSS*/
*
{
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-image:linear-gradient(to right, rgb(255, 255, 255), rgb(226, 226, 226),rgb(201, 201, 201))
}

/*----Cabecalho e rodapé----*/

  header,footer
{
   flex-direction: row;
   display: flex;
   justify-content: center;
   align-items: center;
   height:11.3vh;
}

/*---- para mover as ancoras do cabecalho----*/

.nav
{
  font-size: 20px;
  padding: 0px;
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* efeito do cabecalho e as ancoras */

#ancoras
{
  color: rgb(14, 13, 13);
}

  #ancoras:hover
{
  transform: scale(1.5);
  color: rgb(128, 45, 161);
}

/*----o Corpo da Pagina, juntamente com o texto----*/

section
{
  height: 77.4vh;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/*----texto da pagina----*/


.text_box
{
  color: rgba(240, 240, 240, 0.932);
  border: 3px dashed black;
  border-radius: 8px;
  width: 110vh;
  text-align: center;
  padding: 10px;
  background-image:linear-gradient(to right, rgb(45, 7, 53), #4c0363,rgb(94, 8, 151))
}

/* tag especifica para mexer dentro do corpo do texto */

h1{
  margin: 15px;
}

/*----Rodape da pagina----*/

footer
{
  background-image:linear-gradient(to right, rgb(45, 7, 53), #4c0363,rgb(94, 8, 151));
}
#rede
{
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  
}
  